/* tonos de azul 51858A 2E696F 185358 073B3F 002427 
   Tonos de morado BCC3D7 8995B5 5F6F98 3C4D7D 213262
   tonos de verde 55AF60 2F8F3B 177723 04580E 003807 
   */

body{
    background: #51858A;
    margin: 0;
}

/* HEADER */

.header{
    background: #2E696F;
    height: 115px;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: space-between;
}

.header div{
    height: inherit;
    margin: 0px 35px;
}

.tittle-web h6{
    height: inherit;
    margin: 0;
    text-transform: capitalize;
    font-size: 50px;
    text-decoration: none;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    color: #002427;
}

.menu{
    height: inherit;
}

.menu-options{
    height: inherit;
    display: flex;
    list-style: none;
    /* align-items: center; */
    margin: 0;
}

.menu-options li {
    height: inherit;
}

.link{
    height: inherit;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin: 0px 10px;
    color: #073B3F;
}

/* PRESENTATION */

.presentation{
    display: flex;
    background: white;
    /* height: 486px; */
}

.presentation div{
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
}

.presentation div  h1{
    font-size: 50px;
    margin: 0px 20px 5%;
}

.presentation div h1 strong{
    color: #2E696F;
}

.presentation div h2{
    margin: 5% 20px 0px;
    font-style: italic;
}

.contacto{
    text-decoration: none;
    color: #51858A;
}

.presentation img{
    width: 50%;
}