/* tonos de azul 51858A 2E696F 185358 073B3F 002427 
   Tonos de morado BCC3D7 8995B5 5F6F98 3C4D7D 213262
   tonos de verde 55AF60 2F8F3B 177723 04580E 003807 
   */
/* FUENTES
'Anton', sans-serif;
'Open Sans', sans-serif
'Open Sans Condensed', sans-serif
*/

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?g59m4');
    src:  url('fonts/icomoon.eot?g59m4#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?g59m4') format('truetype'),
      url('fonts/icomoon.woff?g59m4') format('woff'),
      url('fonts/icomoon.svg?g59m4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-menu:before {
    content: "\e900";
}

.icon-menu{
    display: none;
    position: fixed;
    background: rgba(7, 59, 63, .9);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin: 10px;
}

body{
    /* background: #51858A; */
    margin: 0;
}

.header{
    background: #2E696F;
    height: 70px;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: space-between;
}

.presentation{
    display: flex;
    background: white;
    height: 350px;
}

.cursos{
    background: #51858A;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans Condensed', sans-serif;
}

.themes-in-process{
    background-color: #2E696F ;
    display: flex;
    flex-direction: column;
}

.contacto{
    display: flex;
    justify-content: space-between;
    height: auto;
    /* text-decoration: none;*/
    color: #002427; 
    background: #51858A; 
}

.container{
    max-width: 1000px;
    width: 100%;
    /* border: 1px solid red; */
    margin: 0px auto;
    justify-content: inherit;
    display: inherit;
    text-decoration: inherit;
    height: inherit;
    flex-direction: inherit;
    /* object-fit: cover; */
    background-color: inherit;
    background-size: inherit;
    background-image: inherit;
}

/* HEADER */

.tittle-web{
    height: inherit;
}

.tittle-web h6{
    height: inherit;
    text-transform: capitalize;
    font-size: 35px;
    text-decoration: none;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    color: #002427;
    margin: 0px 30px;
}

.menu{
    height: inherit;
    margin: 0px 35px;
}

.menu-options{
    height: inherit;
    display: flex;
    list-style: none;
    margin: 0;
}

.menu-options li {
    height: inherit;
}

.link{
    height: inherit;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin: 0px 10px;
    color: #073B3F;
}


/* PRESENTATION */

.presentation img{
    width: 30%;
    margin: 0 8%;
    object-fit: contain;
}
 
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 6%;
    padding: 0px 5px;
    text-align: center;
}

.presentation h1{
    font-size: 300%;
    margin: 0px auto 5%;
    letter-spacing: -5px;
    line-height: 43px;
    /* text-align: center; */
}

.presentation h1 strong{
    color: #2E696F;
}

.presentation h2{
    margin: 10px auto 0px;
    font-style: italic;
    letter-spacing: -1px;
    font-size: 24px;
    line-height: 20px;
}

.ponte-en-contacto{
    /* display: flex; */
    /* justify-content: space-between;
    height: auto; */
    text-decoration: none;
    color: #51858A;
    border: 1px solid #51858A;
    padding: 5px 10px;
    border-radius: 10px;
}

/* SECTION 1 - CURSOS */

.cursos h2{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    margin: 30px auto;
    letter-spacing: 10px;
    color: #002427;
    font-style: italic;
    text-transform: uppercase;
}

.articles-cursos{
    display: flex;
    object-fit: cover;
    flex-wrap: wrap;
    justify-content: center;
}

.article{
    margin: 10px auto 40px;
    border: 4px solid #002427;
    padding: 40px 20px 40px 50px;
    display: flex;
    background: #f3f3f3;
    border-radius: 35px;
}

.content{
    width: 300px;
    font-size: 20px;
    letter-spacing: 1px;
}

.tittle-curse{
    letter-spacing: 5px;
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.items,
.state,
.more,
.article-description{
    margin: 0px;
}

.article strong{
    text-transform: uppercase;
}

.article img{
    height: 260px;
    object-fit: cover;
    align-self: center;
    margin: 0;
}

/* SECTION 2 - TEMAS AFINES */

.themes-in-process h2{
    display: flex;
    justify-content: center;
    margin: 15px 0;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    letter-spacing: 10px;
    color: #002427;
    font-style: italic;
    text-transform: uppercase;
}

.curses-in-process{
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 30px; */
    justify-content: center;
    /* margin: 0; */
}

.curse-in-process{
    width: 380px;
    border: 1px solid #002427;
    margin: 30px;
    background: #185358;
    border-radius: 10px;
    overflow: hidden;
}

.curse-in-process figure{
    margin: 0;
    width: inherit;
}

.curse-in-process figure img{
    width: inherit;
}

.description-themes{
    margin: -80px 25px 30px;
    border: 1px solid #002427;
    background: inherit;
    position: relative;
    padding: 20px 25px;
    border-radius: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0px;
}

.tittle-curse-in-process{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
    color: antiquewhite;
}

.description-content{
    margin: 20px 0;
    font-size: 17px;
    text-align: center;
    font-style: italic;
}

.more-description{
    text-decoration: none;
    justify-content: center;
    display: flex;
    border: 3px solid #073B3F;
    width: 110px;
    padding: 10px;
    margin: 0 auto;
    color: #073B3F;
    border-radius: 10px;
    background: #2E696F;
    font-size: 15px;
    text-transform: uppercase;
}

/* CONTACTOS */

.contacto form{
    /* border: 1px solid blue; */
    font-family: 'Anton';
    font-size: 20px;
    text-align: center;
    margin: 20px 110px 20px;
}

.archivo{
    /* border: 1px solid blue; */
    font-family: inherit;
    /* height: 35px; */
}

.contacto form h3{
    margin: 0 0 25px;
}

.email{
    background-image: url('email.png');
    height: 20px;
    background-size: 17px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: center;
    padding: 0 30px;
    width: 150px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 15px 0 0;
    border: 2px solid #002427;
    border-radius: 6px;
}

.button-file{
    width: 100px;
    height: 30px;
    border: 2px solid #002427;
    border-radius: 15px;
    font-family: 'Open Sans Condensed';
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px 0 0;
}

.iconos{
    display: flex;
    /* height: inherit; */
    /* justify-content: flex-end; */
    margin: 0 40px;
    /* border: 1px solid blue; */
    max-width: 500px;
    width: 100%;
    justify-content: center;
    /* border: 1px solid white; */
}

.icon{
    height: 100px;
    background-size: 70px;
    width: 100px;
    display: flex;
    /* margin: 0 10px; */
    align-self: center;
}

.icon a{
    background-size: inherit;
    width: inherit;
    /* height: inherit; */
    background-repeat: no-repeat;
    background-position: center;
}
.whatsapp{
    background-image: url('./Whatsapp.png');
}

.gmail{
    background-image: url('./Gmail.png');
}

.facebook{
    background-image: url('./Facebook.png');
}

.telegram{
    background-image: url('./Telegram.png');
}

/* FOOTET */

.footer{
    /* border: 1px solid red; */
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    background: #002427;
    color: antiquewhite;
    /* height: 60px; */
}

.MenuLayout{
    display: flex;
    align-items: center;
    margin-left: 20px;
    /* border: 1px solid white; */
}

.MenuItem{
    margin-right: 25px;
    font-weight: 600;
}

.LoveLayout{
    margin-right: 20px;
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    /* border: 1px solid white; */
}

/* MEDIA QUERIN */

@media screen and (max-width: 1001px){
    
    .cursos h2{
        font-size: 4vw;
        margin: 3vw auto;
        letter-spacing: 0.3em;
    }

    .article{
        margin: 1vw auto 4vw;
        padding: 4vw 2vw 4vw 5vw;
    }

    .content{
        width: 35vw;
        font-size: 2.2vw;
        letter-spacing: .05em;
    }

    .tittle-curse{
        letter-spacing: 0.1em;
        font-size: 6vw;
    }

    .article img{
        height: 30vw;
    }

    .presentation{
        height: 40vw;
    }

    .container{
        max-width: 99vw;
        width: 100%;
    }
    
    .description{
        margin: 0 6vw;
        padding: 0px;
    }

    .presentation h1{
        font-size: 5vw;
        margin: 0px auto 5%;
        letter-spacing: -5px;
        line-height: 43px;
    }
    
    .presentation h2{
        margin: 10px auto 0px;
        letter-spacing: -1px;
        font-size: 24px;
        line-height: 20px;
    }
    
    .ponte-en-contacto{
        padding: 5px 10px;
        border-radius: 10px;
    }

    
    .themes-in-process h2{
        font-size: 4vw;
        margin: 3vw auto;
        letter-spacing: 0.3em;
    }

    .curse-in-process{
        margin: 3vw;
        width: 40vw;
    }

    .description-themes{
        padding: 2vw 2vw;
        margin: -8vw 2.5vw 3vw;
    }

    .tittle-curse-in-process{
        font-size: 2.3vw;
    }

    .description-content{
        margin: 2vw 0;
        font-size: 1.7vw;
    }

    .more-description{
        width: 12vw;
        padding: 1.1vw;
        font-size: 1.6vw;
    }

    
    /* Ajustar tamaño */



    .contacto form{
        /* cambiar a porcentajes */
        margin-right: 4vw;
        margin-left: 10vw;
    }

    .iconos{
        margin: 0 4vw 0 9vw;
        /* border: 1px solid blue; */
        max-width: 45vw;
        /* width: 100%; */
        /* justify-content: center; */
    }

    .icon{
        height: 10.6vw;
        background-size: 7vw;
        width: 10.6vw;
        /* border: 1px solid; */
    }
}

@media screen and (max-width: 833px){
    .presentation img{
        width: 25vw;
        margin: 0 5vw;
        /* object-fit: contain; */
    }
    
    .description{
        /* display: block; */
        margin: 40px 6vw;
        padding: 0px;
    }

    .presentation h1{
        font-size: 6vw;
        margin: 0px auto 2vw;
        letter-spacing: -.1em;
        line-height: .87em;
    }

    .presentation h2{
        margin: 0;
        /* font-style: italic; */
        letter-spacing: -.06em;
        font-size: 3vw;
        line-height: .85em;
    }
        
    .contacto form{
        margin-right: 0;
    }

    .iconos{
        margin: 0 auto;
    }
}

@media screen and (max-width: 780px){
    .footer{
        display: block;
        text-align: center;
    }
    
    .MenuLayout{
        justify-content: center;
    }

    .LoveLayout,
    .MenuLayout{
        margin: 15px 0;
    }
    
    .icon{
        background-size: 8vw;
    }

    .MenuLayout{
        margin-top: 0;
        padding-top: 15px;
    }

    .LoveLayout{
        margin-bottom: 0;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 710px){
    .header{
        /* Se rompe el header */
        display: block;
        text-align: center;
    }
    
    .tittle-web h6{
        display: block;
        line-height: 70px;
    }
    
    .icon-menu{
        display: block;
        z-index: 2;
    }
       
    .menu{
        /* display: block; */
        height: 100vh;
        width: 40vw;
        position: fixed;
        /* width: inherit; */
        top: 0;
        left: -40vw;
        /* background: rgba(255, 0, 0, .5); */
        background: rgba(7, 59, 63, .7);
        /* height: 20hv; */
        margin: 0px;
        padding-top: 40px;
        z-index: 1;
    }

    .menu.click{
        left: 0;
    }
    
    .menu-options{
        display: inline;
        /* width: inherit; */
        /* margin: 5px auto; */
    }
    
    .menu-options li {
        /* width: inherit; */
        height: auto;
        margin: 0 0 20px;
    }
    
    .link{
        color: wheat;
        /* height: inherit; */
        /* width: inherit; */
        /* font-size: 20px; */
        /* text-decoration: none; */
        display: inline;
        /* align-items: center;
        letter-spacing: 1px; */
        /* margin: 0px 10px; */
        /* color: #073B3F; */
    }   

    .contacto{
        display: block;
    }

    .contacto form{
        /* cambiar a porcentajes */
        margin: 20px 18vw;
    }

    .iconos{
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    .icon{
        height: 10vw;
        background-size: 8vw;
        width: 10vw;
    }

    .contacto form{
        margin-top: 0;
        padding-top: 20px;
    }
}