/* tonos de azul 51858A 2E696F 185358 073B3F 002427 
   Tonos de morado BCC3D7 8995B5 5F6F98 3C4D7D 213262
   tonos de verde 55AF60 2F8F3B 177723 04580E 003807 
   */

body{
    background: #51858A;
    margin: 0;
}

.container{
    width: 2000px;
    border: 1px solid red;
    margin: 0px auto;
    justify-content: inherit;
    display: inherit;
    text-decoration: none;
    height: inherit;
}

/* HEADER */

.header{
    background: #2E696F;
    height: 100px;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: space-between;
    /* margin: 0; */
}

.header div{
    height: inherit;
    /* margin: 0px 35px; */
}

.tittle-web h6{
    height: inherit;
    /* margin: 0; */
    text-transform: capitalize;
    font-size: 50px;
    text-decoration: none;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    color: #002427;
    margin: 0px 35px;
}

.menu{
    height: inherit;
    margin: 0px 35px;
}

.menu-options{
    height: inherit;
    display: flex;
    list-style: none;
    /* align-items: center; */
    margin: 0;
}

.menu-options li {
    height: inherit;
}

.link{
    height: inherit;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin: 0px 10px;
    color: #073B3F;
}

/* PRESENTATION */

.presentation{
    display: flex;
    background: white;
}

.description{
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    margin: 0 6%;
}

.presentation h1{
    font-size: 400%;
    margin: 0px 20px 5%;
    letter-spacing: -4px;
    line-height: 90%;
}

.presentation h1 strong{
    color: #2E696F;
}

.presentation h2{
    margin: 5% 20px 0px;
    font-style: italic;
    letter-spacing: -1px;
    font-size: 180%;
    line-height: 95%;
}

.contacto{
    text-decoration: none;
    color: #51858A;
}

.presentation img{
    width: 30%;
    margin: 3% 12%;
}

/* CONTACTOS */

.contacto{
    display: flex;
    justify-content: space-between;
    height: auto;
}

.iconos{
    display: flex;
    height: inherit;
    justify-content: flex-end;
    margin: 0 40px;
    /* border-top: 1px solid white; */
}

.icon{
    height: inherit;
    background-size: 90px;
    width: 100px;
    display: flex;
    margin: 0 10px;
}

.icon a{
    background-size: inherit;
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;

}
.whatsapp{
    background-image: url('./Whatsapp.png');
}

.gmail{
    background-image: url('./Gmail.png');
}

.facebook{
    background-image: url('./Facebook.png');
}

.telegram{
    background-image: url('./Telegram.png');
}

/* FOOTET */

